[submodule "wangdao-film-film"]
	path = wangdao-film-film
	url = https://github.com/ThasGit/wangdao-film-film.git
[submodule "wangdao-film-user"]
	path = wangdao-film-user
	url = https://github.com/ThasGit/wangdao-film-user.git
[submodule "wangdao-film-cinema"]
	path = wangdao-film-cinema
	url = https://github.com/ThasGit/wangdao-film-cinema.git
[submodule "wangdao-film-pay"]
	path = wangdao-film-pay
	url = https://github.com/ThasGit/wangdao-film-pay.git
[submodule "wangdao-film-order"]
	path = wangdao-film-order
	url = https://github.com/ThasGit/wangdao-film-order.git
[submodule "wangdao-film-user-api"]
	path = wangdao-film-user-api
	url = https://github.com/ThasGit/wangdao-film-user-api.git
[submodule "wangdao-film-gateway"]
	path = wangdao-film-gateway
	url = https://github.com/ThasGit/wangdao-film-gateway.git
[submodule "wangdao-film-film-api"]
	path = wangdao-film-film-api
	url = https://github.com/ThasGit/wangdao-film-film-api.git
[submodule "wangdao-film-cinema-api"]
	path = wangdao-film-cinema-api
	url = https://github.com/ThasGit/wangdao-film-cinema-api.git
[submodule "wangdao-film-order-api"]
	path = wangdao-film-order-api
	url = https://github.com/ThasGit/wangdao-film-order-api.git
[submodule "wangdao-film-pay-api"]
	path = wangdao-film-pay-api
	url = https://github.com/ThasGit/wangdao-film-pay-api.git
